In [1]:
import pandas as pd

In [2]:
df = pd.read_pickle('GroupedData.pkl')

In [3]:
df

,Route,Month,Carrier,From,FCity,FST,To,TCity,TST,Delay,Flights,Dist
0,ABE-ATL,1,9E,ABE,"Allentown/Bethlehem/Easton, PA",PA,ATL,"Atlanta, GA",GA,7.073171,41,692
1,ABE-ATL,1,DL,ABE,"Allentown/Bethlehem/Easton, PA",PA,ATL,"Atlanta, GA",GA,-0.923077,26,692
2,ABE-ATL,2,9E,ABE,"Allentown/Bethlehem/Easton, PA",PA,ATL,"Atlanta, GA",GA,20.382353,34,692
3,ABE-ATL,2,DL,ABE,"Allentown/Bethlehem/Easton, PA",PA,ATL,"Atlanta, GA",GA,1.964286,28,692
4,ABE-ATL,3,9E,ABE,"Allentown/Bethlehem/Easton, PA",PA,ATL,"Atlanta, GA",GA,4.929825,57,692
...,...,...,...,...,...,...,...,...,...,...,...,...
118314,YUM-PHX,10,YV,YUM,"Yuma, AZ",AZ,PHX,"Phoenix, AZ",AZ,5.543860,57,160
118315,YUM-PHX,11,OO,YUM,"Yuma, AZ",AZ,PHX,"Phoenix, AZ",AZ,4.470588,102,160
118316,YUM-PHX,11,YV,YUM,"Yuma, AZ",AZ,PHX,"Phoenix, AZ",AZ,5.375000,40,160
118317,YUM-PHX,12,OO,YUM,"Yuma, AZ",AZ,PHX,"Phoenix, AZ",AZ,-1.022727,88,160
118318,YUM-PHX,12,YV,YUM,"Yuma, AZ",AZ,PHX,"Phoenix, AZ",AZ,23.440678,59,160

### Joining other data.
For the purpose of our research, we are interested in checking whether there is any correlation between some demographic and economic variables relative to each city or state and the amount of flights operating in such state. 

Our next steps are going to be obtaining the data for the state and city information we are willing to work with and join it to the main dataframe.

In [4]:
stdf = pd.read_excel('Data/StateData.xlsx')

In [5]:
stdf

                   State Unnamed: 1       Pop  stateGDP  ShareGDP       GDPpc
0                Alabama         AL   4908620    224654  0.010822   45.767242
1                 Alaska         AK    734002     54851  0.002642   74.728679
2                Arizona         AZ   7378490    355311  0.017116   48.154975
3               Arkansas         AR   3039000    129812  0.006253   42.715367
4             California         CA  39937500   3018337  0.145399   75.576513
5               Colorado         CO   5845530    376994  0.018160   64.492698
6            Connecticut         CT   3563080    279653  0.013471   78.486310
7               Delaware         DE    982895     76537  0.003687   77.868948
8   District of Columbia         DC    720687    144720  0.006971  200.808395
9                Florida         FL  21993000   1059144  0.051021   48.158232
10               Georgia         GA  10736100    601503  0.028975   56.026211
11                Hawaii         HI   1412690     93419  0.004500   66.128450
12                 Idaho         ID   1826160     78640  0.003788   43.063039
13              Illinois         IL  12659700    879947  0.042389   69.507729
14               Indiana         IN   6745350    371629  0.017902   55.094102
15                  Iowa         IA   3179850    192608  0.009278   60.571411
16                Kansas         KS   2910360    169558  0.008168   58.260147
17              Kentucky         KY   4499690    211621  0.010194   47.030129
18             Louisiana         LA   4645180    255492  0.012308   55.001528
19                 Maine         ME   1345790     65349  0.003148   48.558096
20              Maryland         MD   6083120    417776  0.020125   68.677915
21         Massachusetts         MA   6976600    575635  0.027729   82.509389
22              Michigan         MI  10045000    537087  0.025872   53.468094
23             Minnesota         MN   5700670    374920  0.018061   65.767708
24           Mississippi         MS   2989260    115749  0.005576   38.721623
25              Missouri         MO   6169270    323287  0.015573   52.402796
26               Montana         MT   1086760     49635  0.002391   45.672458
27              Nebraska         NE   1952570    124742  0.006009   63.886058
28                Nevada         NV   3139660    168752  0.008129   53.748495
29         New Hampshire         NH   1371250     86046  0.004145   62.750046
30            New Jersey         NJ   8936570    634721  0.030576   71.025125
31            New Mexico         NM   2096640    101452  0.004887   48.387897
32              New York         NY  19440500   1701399  0.081959   87.518274
33        North Carolina         NC  10611900    575605  0.027728   54.241465
34          North Dakota         ND    761723     55657  0.002681   73.067244
35                  Ohio         OH  11747700    689139  0.033197   58.661610
36              Oklahoma         OK   3954820    203250  0.009791   51.392984
37                Oregon         OR   4301090    243085  0.011710   56.517069
38          Pennsylvania         PA  12820900    803307  0.038697   62.656054
39          Rhode Island         RI   1056160     61341  0.002955   58.079268
40        South Carolina         SC   5210100    234367  0.011290   44.983206
41          South Dakota         SD    903027     52544  0.002531   58.186522
42             Tennessee         TN   6897580    373663  0.018000   54.173058
43                 Texas         TX  29472300   1818585  0.087604   61.704889
44                  Utah         UT   3282120    180862  0.008712   55.105237
45               Vermont         VT    628061     34154  0.001645   54.380068
46              Virginia         VA   8626210    544348  0.026222   63.103959
47            Washington         WA   7797100    576624  0.027777   73.953649
48         West Virginia         WV   1778070     79168  0.003814   44.524681
49             Wisconsin         WI   5851750    342470  0.016497   58.524373
50               Wyoming         WY    567025     39899  0.001922   70.365504

In [6]:
stdf.columns = ['State', 'ST', 'Pop', 'GDP', 'Share', 'GDPpc']

In [7]:
stdf.drop(['Pop'], axis = 1, inplace = True)
stdf.drop(['GDP'], axis = 1, inplace = True)

In [8]:
stdf['Share'] = stdf['Share']*100

In [9]:
stdf[['Share', 'GDPpc']] = round(stdf[['Share', 'GDPpc']], 2)

In [10]:
df = df.merge(stdf, left_on = 'FST', right_on = 'ST', how = 'left')
df = df.merge(stdf, left_on = 'TST', right_on = 'ST', how = 'left')

In [11]:
df

,Route,Month,Carrier,From,FCity,FST,To,TCity,TST,Delay,Flights,Dist,State_x,ST_x,Share_x,GDPpc_x,State_y,ST_y,Share_y,GDPpc_y
0,ABE-ATL,1,9E,ABE,"Allentown/Bethlehem/Easton, PA",PA,ATL,"Atlanta, GA",GA,7.073171,41,692,Pennsylvania,PA,3.87,62.66,Georgia,GA,2.90,56.03
1,ABE-ATL,1,DL,ABE,"Allentown/Bethlehem/Easton, PA",PA,ATL,"Atlanta, GA",GA,-0.923077,26,692,Pennsylvania,PA,3.87,62.66,Georgia,GA,2.90,56.03
2,ABE-ATL,2,9E,ABE,"Allentown/Bethlehem/Easton, PA",PA,ATL,"Atlanta, GA",GA,20.382353,34,692,Pennsylvania,PA,3.87,62.66,Georgia,GA,2.90,56.03
3,ABE-ATL,2,DL,ABE,"Allentown/Bethlehem/Easton, PA",PA,ATL,"Atlanta, GA",GA,1.964286,28,692,Pennsylvania,PA,3.87,62.66,Georgia,GA,2.90,56.03
4,ABE-ATL,3,9E,ABE,"Allentown/Bethlehem/Easton, PA",PA,ATL,"Atlanta, GA",GA,4.929825,57,692,Pennsylvania,PA,3.87,62.66,Georgia,GA,2.90,56.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118314,YUM-PHX,10,YV,YUM,"Yuma, AZ",AZ,PHX,"Phoenix, AZ",AZ,5.543860,57,160,Arizona,AZ,1.71,48.15,Arizona,AZ,1.71,48.15
118315,YUM-PHX,11,OO,YUM,"Yuma, AZ",AZ,PHX,"Phoenix, AZ",AZ,4.470588,102,160,Arizona,AZ,1.71,48.15,Arizona,AZ,1.71,48.15
118316,YUM-PHX,11,YV,YUM,"Yuma, AZ",AZ,PHX,"Phoenix, AZ",AZ,5.375000,40,160,Arizona,AZ,1.71,48.15,Arizona,AZ,1.71,48.15
118317,YUM-PHX,12,OO,YUM,"Yuma, AZ",AZ,PHX,"Phoenix, AZ",AZ,-1.022727,88,160,Arizona,AZ,1.71,48.15,Arizona,AZ,1.71,48.15
118318,YUM-PHX,12,YV,YUM,"Yuma, AZ",AZ,PHX,"Phoenix, AZ",AZ,23.440678,59,160,Arizona,AZ,1.71,48.15,Arizona,AZ,1.71,48.15

In [12]:
df.columns

Index(['Route', 'Month', 'Carrier', 'From', 'FCity', 'FST', 'To', 'TCity',
       'TST', 'Delay', 'Flights', 'Dist', 'State_x', 'ST_x', 'Share_x',
       'GDPpc_x', 'State_y', 'ST_y', 'Share_y', 'GDPpc_y'],
      dtype='object')

In [13]:
df.columns = ['Route', 'Month', 'Carrier', 'From', 'FCity', 'FST', 'To', 'TCity', 'TST', 
              'Delay', 'Flights', 'Dist', 'State_x', 'ST_x', 'FShare', 'FGDPpc',
              'State_y', 'ST_y', 'TShare', 'TGDPpc']

In [14]:
df = df[['Route', 'Month', 'Carrier',
          'From', 'FCity', 'FST', 'FShare', 'FGDPpc',
          'To', 'TCity', 'TST', 'TShare', 'TGDPpc',
          'Delay', 'Flights', 'Dist']]

In [15]:
df

,Route,Month,Carrier,From,FCity,FST,FShare,FGDPpc,To,TCity,TST,TShare,TGDPpc,Delay,Flights,Dist
0,ABE-ATL,1,9E,ABE,"Allentown/Bethlehem/Easton, PA",PA,3.87,62.66,ATL,"Atlanta, GA",GA,2.90,56.03,7.073171,41,692
1,ABE-ATL,1,DL,ABE,"Allentown/Bethlehem/Easton, PA",PA,3.87,62.66,ATL,"Atlanta, GA",GA,2.90,56.03,-0.923077,26,692
2,ABE-ATL,2,9E,ABE,"Allentown/Bethlehem/Easton, PA",PA,3.87,62.66,ATL,"Atlanta, GA",GA,2.90,56.03,20.382353,34,692
3,ABE-ATL,2,DL,ABE,"Allentown/Bethlehem/Easton, PA",PA,3.87,62.66,ATL,"Atlanta, GA",GA,2.90,56.03,1.964286,28,692
4,ABE-ATL,3,9E,ABE,"Allentown/Bethlehem/Easton, PA",PA,3.87,62.66,ATL,"Atlanta, GA",GA,2.90,56.03,4.929825,57,692
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118314,YUM-PHX,10,YV,YUM,"Yuma, AZ",AZ,1.71,48.15,PHX,"Phoenix, AZ",AZ,1.71,48.15,5.543860,57,160
118315,YUM-PHX,11,OO,YUM,"Yuma, AZ",AZ,1.71,48.15,PHX,"Phoenix, AZ",AZ,1.71,48.15,4.470588,102,160
118316,YUM-PHX,11,YV,YUM,"Yuma, AZ",AZ,1.71,48.15,PHX,"Phoenix, AZ",AZ,1.71,48.15,5.375000,40,160
118317,YUM-PHX,12,OO,YUM,"Yuma, AZ",AZ,1.71,48.15,PHX,"Phoenix, AZ",AZ,1.71,48.15,-1.022727,88,160
118318,YUM-PHX,12,YV,YUM,"Yuma, AZ",AZ,1.71,48.15,PHX,"Phoenix, AZ",AZ,1.71,48.15,23.440678,59,160

We export this time to two different formats. As usual, .pkl will be the one we will be working in Python, and is our preferred format for storing the dataframe. However, we also want to use Tableau, and it will not read .pkl files, so we are also going to store the dataset as a .csv file so we are able to open it on the visualisation software.

In [16]:
df.to_pickle('FinalData.pkl')

In [17]:
df.to_csv('FinalData.csv')