In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

### Finding Route Opportunities
In this notebook we are going to finally get some insights about the data by answering one of the important questions that drives our research: are there any pairs of cities that do not have a direct route connecting them? If the answer is yes, then we could be pointing at a market opportunity for an airline company, and this would lead to the second part of our research: how many flights could populate this route according to the US aviation industry?

To perform this first step, we are going to take a list with the 40 busiest airports in the US and we are going to pair them with each other and see whether this combination exists in our dataset. If the combination exists, there is already (at least) a carrier performing this route, and thus it is not an opportunity. Then, we are going to be interested in the pairs of airports that are not in our dataset. In that case, there are no carriers performing this route and it could be the opportunity we are looking for.

In [2]:
df = pd.read_pickle('Flights19.pkl')
df

,Route,Month,Carrier,From,FCity,FST,FShare,FGDPpc,To,TCity,...,TShare,TGDPpc,Delay,Flights,Dist,Pop_x,Pop_y,Hub,Away,Within
0,ABE-ATL,1,9E,ABE,Allentown,PA,3.87,62.66,ATL,Atlanta,...,2.90,56.03,7.0,41,692,0.1,0.52,1,0,0
1,ABE-ATL,1,DL,ABE,Allentown,PA,3.87,62.66,ATL,Atlanta,...,2.90,56.03,-1.0,26,692,0.1,0.52,1,0,0
2,ABE-ATL,2,9E,ABE,Allentown,PA,3.87,62.66,ATL,Atlanta,...,2.90,56.03,20.0,34,692,0.1,0.52,1,0,0
3,ABE-ATL,2,DL,ABE,Allentown,PA,3.87,62.66,ATL,Atlanta,...,2.90,56.03,2.0,28,692,0.1,0.52,1,0,0
4,ABE-ATL,3,9E,ABE,Allentown,PA,3.87,62.66,ATL,Atlanta,...,2.90,56.03,5.0,57,692,0.1,0.52,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122568,YUM-PHX,10,YV,YUM,Yuma,AZ,1.71,48.15,PHX,Phoenix,...,1.71,48.15,6.0,57,160,0.1,1.70,0,0,1
122569,YUM-PHX,11,OO,YUM,Yuma,AZ,1.71,48.15,PHX,Phoenix,...,1.71,48.15,4.0,102,160,0.1,1.70,0,0,1
122570,YUM-PHX,11,YV,YUM,Yuma,AZ,1.71,48.15,PHX,Phoenix,...,1.71,48.15,5.0,40,160,0.1,1.70,0,0,1
122571,YUM-PHX,12,OO,YUM,Yuma,AZ,1.71,48.15,PHX,Phoenix,...,1.71,48.15,-1.0,88,160,0.1,1.70,0,0,1
122572,YUM-PHX,12,YV,YUM,Yuma,AZ,1.71,48.15,PHX,Phoenix,...,1.71,48.15,23.0,59,160,0.1,1.70,0,0,1

In [3]:
df

,Route,Month,Carrier,From,FCity,FST,FShare,FGDPpc,To,TCity,...,TShare,TGDPpc,Delay,Flights,Dist,Pop_x,Pop_y,Hub,Away,Within
0,ABE-ATL,1,9E,ABE,Allentown,PA,3.87,62.66,ATL,Atlanta,...,2.90,56.03,7.0,41,692,0.1,0.52,1,0,0
1,ABE-ATL,1,DL,ABE,Allentown,PA,3.87,62.66,ATL,Atlanta,...,2.90,56.03,-1.0,26,692,0.1,0.52,1,0,0
2,ABE-ATL,2,9E,ABE,Allentown,PA,3.87,62.66,ATL,Atlanta,...,2.90,56.03,20.0,34,692,0.1,0.52,1,0,0
3,ABE-ATL,2,DL,ABE,Allentown,PA,3.87,62.66,ATL,Atlanta,...,2.90,56.03,2.0,28,692,0.1,0.52,1,0,0
4,ABE-ATL,3,9E,ABE,Allentown,PA,3.87,62.66,ATL,Atlanta,...,2.90,56.03,5.0,57,692,0.1,0.52,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122568,YUM-PHX,10,YV,YUM,Yuma,AZ,1.71,48.15,PHX,Phoenix,...,1.71,48.15,6.0,57,160,0.1,1.70,0,0,1
122569,YUM-PHX,11,OO,YUM,Yuma,AZ,1.71,48.15,PHX,Phoenix,...,1.71,48.15,4.0,102,160,0.1,1.70,0,0,1
122570,YUM-PHX,11,YV,YUM,Yuma,AZ,1.71,48.15,PHX,Phoenix,...,1.71,48.15,5.0,40,160,0.1,1.70,0,0,1
122571,YUM-PHX,12,OO,YUM,Yuma,AZ,1.71,48.15,PHX,Phoenix,...,1.71,48.15,-1.0,88,160,0.1,1.70,0,0,1
122572,YUM-PHX,12,YV,YUM,Yuma,AZ,1.71,48.15,PHX,Phoenix,...,1.71,48.15,23.0,59,160,0.1,1.70,0,0,1

In [4]:
# First, we obtain the top 40 busiest airports in the US
# by the total amount of flights arriving and departing from them.

top40 = df.groupby('From').agg({'Flights': 'sum'}).sort_values('Flights', ascending = False).reset_index()['From'][:40]

In [5]:
top40

0     ATL
1     ORD
2     DFW
3     DEN
4     CLT
5     LAX
6     IAH
7     PHX
8     LGA
9     SFO
10    LAS
11    DTW
12    MSP
13    BOS
14    MCO
15    SEA
16    DCA
17    EWR
18    JFK
19    PHL
20    SLC
21    MCI
22    BWI
23    FLL
24    CMH
25    SAN
26    MIA
27    MDW
28    BNA
29    TPA
30    DAL
31    IAD
32    STL
33    AUS
34    RDU
35    SJC
36    PDX
37    HOU
38    MSY
39    OAK
Name: From, dtype: object

In [6]:
# Secondly we take the list of the 40 airports and create 40x39 pairs of airports and
# check whether each of the combinations is in the main dataframe.
# We print out the combinations that do not exist in the dataframe.

for i in range(40):
    for j in range(i+1,40):
        route = top40[i] + '-' + top40[j]
        if route not in list(df['Route']):
            print(route)

ORD-MDW
ORD-DAL
ORD-HOU
DFW-MDW
DFW-DAL
CLT-SJC
CLT-OAK
LAX-LGA
IAH-MDW
IAH-DAL
IAH-HOU
PHX-LGA
LGA-SFO
LGA-LAS
LGA-SEA
LGA-EWR
LGA-JFK
LGA-SLC
LGA-BWI
LGA-SAN
LGA-AUS
LGA-SJC
LGA-PDX
LGA-OAK
SFO-SJC
SFO-HOU
SFO-OAK
DTW-HOU
MSP-HOU
MCO-TPA
DCA-BWI
DCA-SAN
DCA-IAD
DCA-SJC
DCA-OAK
EWR-JFK
EWR-PHL
EWR-DAL
EWR-HOU
JFK-MCI
JFK-MDW
JFK-DAL
JFK-STL
PHL-SJC
PHL-OAK
SLC-MIA
MCI-CMH
MCI-SJC
BWI-IAD
FLL-MIA
FLL-SJC
FLL-PDX
FLL-OAK
CMH-SAN
CMH-SJC
CMH-PDX
MIA-MDW
MIA-DAL
MIA-SJC
MIA-PDX
MIA-OAK
MDW-IAD
BNA-PDX
TPA-SJC
TPA-PDX
TPA-OAK
DAL-IAD
IAD-SJC
IAD-HOU
IAD-OAK
RDU-PDX
RDU-OAK
SJC-OAK
PDX-MSY

We can see that there are a lot of possible routes to explore. However, there is something we must take into account. There are some cities which are served by more than one airport. So a route from Charlotte to New York City may exist, but it will surely not exist for all 3 airports in New York, so our previous algorithm will return the other two airports as an opportunity, while it is not.

To solve this issue, we are going to group all major airports that are within 2h drive of each other, as they serve the same region. We will not be comparing pairs of airports anymore, but we will be comparing pairs of unconnected cities.

In [7]:
df2 = df.reset_index(drop = True)

In [8]:
df2['From'].replace('JFK', 'NYC', True)
df2['From'].replace('EWR', 'NYC', True)
df2['From'].replace('LGA', 'NYC', True)
df2['From'].replace('ORD', 'CHI', True)
df2['From'].replace('MDW', 'CHI', True)
df2['From'].replace('MCO', 'TPA', True)
df2['From'].replace('DFW', 'DAL', True)
df2['From'].replace('PBI', 'MIA', True)
df2['From'].replace('FLL', 'MIA', True)
df2['From'].replace('SAN', 'LAX', True)
df2['From'].replace('ONT', 'LAX', True)
df2['From'].replace('SNA', 'LAX', True)
df2['From'].replace('IAD', 'WAS', True)
df2['From'].replace('DCA', 'WAS', True)
df2['From'].replace('IAH', 'HOU', True)
df2['From'].replace('SJC', 'SFO', True)
df2['From'].replace('OAK', 'SFO', True)
df2['From'].replace('SMF', 'SFO', True)

df2['To'].replace('JFK', 'NYC', True)
df2['To'].replace('EWR', 'NYC', True)
df2['To'].replace('LGA', 'NYC', True)
df2['To'].replace('ORD', 'CHI', True)
df2['To'].replace('MDW', 'CHI', True)
df2['To'].replace('MCO', 'TPA', True)
df2['To'].replace('DFW', 'DAL', True)
df2['To'].replace('PBI', 'MIA', True)
df2['To'].replace('FLL', 'MIA', True)
df2['To'].replace('SAN', 'LAX', True)
df2['To'].replace('ONT', 'LAX', True)
df2['To'].replace('SNA', 'LAX', True)
df2['To'].replace('IAD', 'WAS', True)
df2['To'].replace('DCA', 'WAS', True)
df2['To'].replace('IAH', 'HOU', True)
df2['To'].replace('SJC', 'SFO', True)
df2['To'].replace('OAK', 'SFO', True)
df2['To'].replace('SMF', 'SFO', True)

In [9]:
df2

,Route,Month,Carrier,From,FCity,FST,FShare,FGDPpc,To,TCity,...,TShare,TGDPpc,Delay,Flights,Dist,Pop_x,Pop_y,Hub,Away,Within
0,ABE-ATL,1,9E,ABE,Allentown,PA,3.87,62.66,ATL,Atlanta,...,2.90,56.03,7.0,41,692,0.1,0.52,1,0,0
1,ABE-ATL,1,DL,ABE,Allentown,PA,3.87,62.66,ATL,Atlanta,...,2.90,56.03,-1.0,26,692,0.1,0.52,1,0,0
2,ABE-ATL,2,9E,ABE,Allentown,PA,3.87,62.66,ATL,Atlanta,...,2.90,56.03,20.0,34,692,0.1,0.52,1,0,0
3,ABE-ATL,2,DL,ABE,Allentown,PA,3.87,62.66,ATL,Atlanta,...,2.90,56.03,2.0,28,692,0.1,0.52,1,0,0
4,ABE-ATL,3,9E,ABE,Allentown,PA,3.87,62.66,ATL,Atlanta,...,2.90,56.03,5.0,57,692,0.1,0.52,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122568,YUM-PHX,10,YV,YUM,Yuma,AZ,1.71,48.15,PHX,Phoenix,...,1.71,48.15,6.0,57,160,0.1,1.70,0,0,1
122569,YUM-PHX,11,OO,YUM,Yuma,AZ,1.71,48.15,PHX,Phoenix,...,1.71,48.15,4.0,102,160,0.1,1.70,0,0,1
122570,YUM-PHX,11,YV,YUM,Yuma,AZ,1.71,48.15,PHX,Phoenix,...,1.71,48.15,5.0,40,160,0.1,1.70,0,0,1
122571,YUM-PHX,12,OO,YUM,Yuma,AZ,1.71,48.15,PHX,Phoenix,...,1.71,48.15,-1.0,88,160,0.1,1.70,0,0,1
122572,YUM-PHX,12,YV,YUM,Yuma,AZ,1.71,48.15,PHX,Phoenix,...,1.71,48.15,23.0,59,160,0.1,1.70,0,0,1

In [10]:
# After grouping the airports by city, we can see now that the busiest city is New York City if you aggregate
# the amount of flights on the 3 airports serving the city. We are going to perform the same steps as before, 
# taking into account that we are now going to compare pairs of cities.

top35 = df2.groupby('From').agg({'Flights': 'sum'}).sort_values('Flights', ascending = False).reset_index()['From'][:35]

In [11]:
top35

0     NYC
1     CHI
2     ATL
3     DAL
4     LAX
5     SFO
6     DEN
7     HOU
8     CLT
9     TPA
10    MIA
11    WAS
12    PHX
13    LAS
14    DTW
15    MSP
16    BOS
17    SEA
18    PHL
19    SLC
20    MCI
21    BWI
22    CMH
23    BNA
24    STL
25    AUS
26    RDU
27    PDX
28    MSY
29    HNL
30    PIT
31    IND
32    CLE
33    CVG
34    SAT
Name: From, dtype: object

In [12]:
df2['Route'] = df2['From']+'-'+df2['To']

In [13]:
for i in range(35):
    for j in range(i+1,35):
        route = top35[i] + '-' + top35[j]
        if route not in list(df2['Route']):
            print(route)

CLT-HNL
TPA-HNL
MIA-PDX
MIA-HNL
WAS-BWI
BOS-SAT
PHL-HNL
MCI-CMH
MCI-HNL
MCI-PIT
MCI-CLE
BWI-HNL
CMH-PDX
CMH-HNL
CMH-PIT
CMH-IND
CMH-CLE
CMH-CVG
CMH-SAT
BNA-PDX
BNA-HNL
BNA-IND
BNA-CVG
STL-HNL
STL-IND
AUS-HNL
AUS-SAT
RDU-PDX
RDU-HNL
PDX-MSY
PDX-PIT
PDX-IND
PDX-CLE
PDX-CVG
PDX-SAT
MSY-HNL
HNL-PIT
HNL-IND
HNL-CLE
HNL-CVG
HNL-SAT
PIT-IND
PIT-CLE
PIT-CVG
PIT-SAT
IND-CLE
IND-CVG
IND-SAT
CLE-CVG
CLE-SAT

The final list would be the list of opportunities: pairs of unconnected cities that could potentially be a new route. We are going to choose 3 of them based on population. For this to be a relevant research, we are willing to find big cities that are not yet connected, rather than smaller ones which may not have a significant demand for a flight to other cities.